#form
  .form_item
    = f.label "Login :"
  .form_item
    = f.text_field :login, :size => 30
  .form_item
    = f.label "Email"
  .form_item
    = f.text_field :email, :size => 30
  .form_item
    = f.label "Estado"
    %br
    = "Activo"
    = f.radio_button :status, true
    = "Inactivo"
    = f.radio_button :status, false
  .form_item
    = f.label "Categoría"
    %br
    = "Tecnico"
    = f.radio_button :is_tech, true
    = "Usuario"
    = f.radio_button :is_tech, false
  .form_item
    = f.label "Tipo de acceso"
    = f.collection_select :auth_type_id, AuthType.all, :id, :name,  {:prompt => true}
