= f.label "Login :"
%br
= f.text_field :login, :size => 30
%br
= f.label "Email"
%br
= f.text_field :email, :size => 30
%br
= f.label "Estado"
%br
-#= f.text_field :status, :size => 30
= f.radio_button :is_tech, :cheked => false
%br
= f.label "Roll"
%br
= f.text_field :is_tech, :size => 30
