= render :partial => 'tech_support/tickets/catalogs'
#collection
  = render :partial => 'collection_header'
  = render :partial => 'record', :collection => @collection

  #catalog_paginator
    = will_paginate @collection, :prev_label => 'Anterior', :next_label => 'Siguiente'
#buttons
  = button_to "Agregar nuevo", :action => 'new'

