#show
  .show_item#name= 'Login :'
  =  @user.login
  .show_item#email= 'Email :'
  = @user.email
  .show_item#status= 'Estado :'
  - if @user.status
    = "Activo"
  - else
    = "Inactivo"
  .show_item#roll= 'Roll:'
  - if @user.is_tech
    = "Tecnico"
  - else
    = "Usuario"
#back
  = button_to "Regresar", tech_support_users_path,:method => :get





