%p{:id=>'session_instructions'}
  ="Para iniciar sesión debes introducir tu login y contraseña de su correo electrónico en el Instituto de Física."
  %br
  %br

  ="Por ejemplo, sí tu cuenta es juan@fisica.unam.mx, la información para ingresar es: "
  %b="juan y *tucontraseña*."


#sign_in
  #flash
    = flash[:notice]
  %br
  #form_session
    - form_for @user_session, :url => {:action => :create} do |f|
      .form_session_label
        = "Usuario:"
      .form_session_textbox
        = f.text_field(:login)
      .form_session_label
        = "Contraseña:"
      .form_session_textbox
        = f.password_field(:password)
      %br
      = submit_tag "Ingresar"

#pi
  = link_to "&#182;", new_tech_support_session_path
