#sign_in
  ="Para iniciar sesión debes introducir tu login y contraseña de Salva"
  #flash
    = flash[:notice]
  %br
  #form_session
    - form_for @user_session, :url => {:action => :create} do |f|
      .td_text 
        = "Usuario:"
      .td_textbox
        = f.text_field(:login)
      .td_text
        = "Contraseña:"
      .td_textbox
        = f.password_field(:password)
      = submit_tag "Ingresar"
