.comment{:id => comment.dom_id}
  .comment_panel
    .comment_header
      .comment_subject
        = comment.subject
      .comment_date
        = comment.created_at_before_type_cast
      .comment_body
        .text
          = comment.body
    .actions
      = link_to_remote 'Responder', :url => edit_comment_path(comment), :method => :get
.comment_form_child{:id => "comment_form_child_#{comment.dom_id}" }
  
.childs{:id =>'child_' + comment.dom_id}
  = render :partial => 'comments/aux/comment', :collection => comment.children
