.comment_father{:id => "father_#{comment.dom_id}"}
  %b= "De: "
  = comment.user.profile.fullname+" &lt;#{comment.user.profile.email}&gt;"
  %br
  %b= "Encabezado"
  = comment.subject
  %br
  %b= "Fecha de envío:"
  = comment.created_at_before_type_cast
  %br
  %b= "Descripcion:"
  .comment_body
    = textilize(comment.body)
  %p
  #actions
    = link_to_remote image_tag("reply.gif", :border => 0, :style => 'margin-right: 3px; padding-left: 14px;')+"Responder", :url => edit_comment_path(:id => comment.id) ,:update => {:success => "comment_form_#{comment.dom_id}"}, :method => :get
  %br
  .comment_form{:id => "comment_form_#{comment.dom_id}"}

%h4= "Comentarios"
.childs{:id =>"childs_#{comment.dom_id}"}
  = render :partial => 'comments/child', :collection => comment.children

