.comment{:id => comment.dom_id}
  .comment_panel
    .comment_header
      = comment.created_at_before_type_cast
      %br
      = "Padre  #{comment.parent_id.nil?.to_s}"
      %br 
      = comment.subject
    .icon_comment
      = image_tag("icon_commnet.jpg")
    -if comment.parent.nil?      
      .comment_body
        =comment.body
  .actions
    = link_to_remote 'Responder', :url => edit_comment_path(comment), :method => :get
  .childs{:id =>'child_' + comment.dom_id}
    = render :partial => 'comments/comment', :collection => comment.children
