= comment_form.text_field :subject
= comment_form.text_area :body
= comment_form.hidden_field :ticket_id
#send_comment_form
  = submit_tag "Enviar comentario"
#cancel
  = link_to_function "Cancelar",%Q($("#comment_form_#{@comment.dom_id}").empty();)
