<div id="comment_title">
  <h4> Comentarios</h4>
</div>
  

<div id="comments">
  <%= render :partial => 'comment', :object => @comment %>
 
</div>

<div id="comments">
  <%= render :partial => 'comment', :collection => @comments %>
 
</div>




  <div id="comment_form">
    <div id="panel">      
      <%= error_messages_for :comment %>
      <% form_for :comment, @comment, :url => {:action => 'create' , :id => @comment.ticket_id, :parent => @comment.id} do |comment_form| %>
      <%= comment_form.text_area :body %>
      <div id="send_comment">
        <%= submit_tag "Agregar comentario" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="link">
  <%= link_to "Regresar", !@comment.parent.nil? ? comment_path(@comment.parent_id) : ticket_path(Ticket.find(@comment.ticket_id)) %>
</div>
