= "Su solicitud de soporte ha recibido un nuevo comentario"

= "Para ver el estado de su solicitud siga la siguiente linea "

= url_for(:host => "soporte.fisica.unam.mx", :controller => "session", :action => "new")
= "Gracias por usar el STIF-UNAM!!"

= "                              Instituto de Física."

