= "********************************************************************"
= "*                      Este es un reporte automático               *"
= "*                            NO HAGA REPLY                         *"
= "********************************************************************"

= "Su solicitud de soporte ha recibido una respuesta"

= "Para ver el estado de su solicitud siga la siguiente linea "

= url_for(:host => "soporte.fisica.unam.mx", :controller => "session", :action => "new")

= "Gracias por usar el Sistema de Seguimiento de Solicitudes de Servicio"
= "Instituto de Física."
= "Universidad Nacional Autónoma de México."
= "===================================================================="
