= "********************************************************************"
= "*                      Este es un reporte automático               *"
= "*                            NO HAGA REPLY                         *"
= "********************************************************************"

= "Su solicitud de soporte  ha sido enviada."
%br
= "Número de solicitud:  #{@ticket.id}"
= "De #{@ticket.user.profile.fullname}"
= "Fecha de envio: #{@ticket.created_at.strftime("%d-%m-%Y")}"
= "Categoría: #{@ticket.category.name}"
= "Estado: #{@ticket.status.name}"
= "Descripción:"
= textilize(@ticket.body)

= "Para consultar su solicitud haga click en la siguiente liga: "
= url_for(:host => "soporte.fisica.unam.mx", :controller => "tickets", :action => "show", :id => @ticket.id )

= "El administrador ha sido informado de su solicitud de soporte."
= "Recibira una respuesta o la solucion a su problema lo mas pronto posible"


= "Gracias por usar el Sistema de Seguimiento de Solicitudes de Servicio"
= "Instituto de Física."
= "Universidad Nacional Autónoma de México."
= "===================================================================="
