!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang=>"en"}
  %head
    %title 
      = "Stifunam #{controller.controller_name.capitalize}"
    = stylesheet_link_tag "tech_support/catalogs"
    = javascript_include_tag 'jquery-1.3.2', 'application'
    %body
      #layout_header
        = "Seguimiento de solicitudes de servicio técnico"
        %br
        = "Instituto de Física" 
        %br
        = "UNAM"
        
      #main
        #login_logout
          = "#{@user_profile.login}"
          = "|"
          = link_to 'Salir', tech_support_session_url, :method => :delete
        #user_profile
          #user_profile_item
            = "Nombre:  #{@user_profile.fullname}"
          #user_profile_item
            = "Adscripción:  #{@user_profile.adscription}  "
          #user_profile_item
            = "Categoria:  #{}  "

        = yield :layout
