!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang=>"en"}
  %head
    %title
      = "Stifunam #{controller.controller_name.capitalize}"
    = stylesheet_link_tag "tech_support/tickets"
    = javascript_include_tag 'jquery-1.3.2', 'tech_support/application'
    %body
      #layout_header
        %h1= "Seguimiento de Solicitudes de Servicio"
        %h2= "Instituto de Física - UNAM"
        %h3= "Secretaría Técnica de Cómputo y Telecomunicaciones"

      #main
        #login
          = "#{current_user.profile.login}"
          = "|"
          = link_to 'Salir',tech_support_logout_url
          %br
          = link_to 'Agenda de actividades','http://www.google.com/calendar/embed?showTitle=0&mode=WEEK&height=600&wkst=2&bgcolor=%23FFFFFF&src=computoifunam%40gmail.com&color=%238D6F47&src=hc7ombf02th476r0a0qtnmvsro%40group.calendar.google.com&color=%23A32929&src=ft9scu06tki980njmq06pt9rko%40group.calendar.google.com&color=%23B1365F&src=ou8e6m2fi6qqlrskcs7cgdupeg%40group.calendar.google.com&color=%2329527A&src=t2g3vgm9a437s3bj32gk85i2i4%40group.calendar.google.com&color=%230D7813&src=l3pjqa1npi18mrdimspmj53qjo%40group.calendar.google.com&color=%23AB8B00&src=8srjurb6ru31q5ogm0kqf5ji88%40group.calendar.google.com&color=%23B1440E&ctz=America%2FMexico_City&gsessionid=gICuanIAkDquLbxl_8QftQ', :target => '_new'
        #controller_title
          = controller_title
        #user_profile
          #user_profile_item
            = "Nombre:  #{current_user.profile.fullname}"
          #user_profile_item
            = "Adscripción:  #{current_user.profile.adscription}  "

        = yield :layout
