!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang=>"en"}
  %head
    %title
      = "Stifunam #{controller.controller_name.capitalize}"
    = stylesheet_link_tag "tech_support/users"
    = javascript_include_tag 'jquery-1.3.2', 'application'
    %body
      #layout_header
        %h1= "Seguimiento de Solicitudes de Servicio"
        %h2= "Instituto de Física - UNAM"
        %h3= "Secretaría Técnica de Cómputo y Telecomunicaciones"

      #main
        #login
          = "#{@user_profile.login}"
          = "|"
          = link_to 'Salir',tech_support_logout_url
          %br
          = link_to 'Agenda de actividades'
        #controller_title
          = controller_title
        #user_profile
          #user_profile_item
            = "Nombre:  #{@user_profile.fullname}"
          #user_profile_item
            = "Adscripción:  #{@user_profile.adscription}  "
        = yield :layout
