.version_row{:id => "color#{record.version%2}" }
  .version_row_item#version
    = record.version
  .version_row_item#category
    = record.category.name
  .version_row_item#status
    = image_tag("#{record.status.name.gsub(" ","_").downcase}.png")+record.status.name
  .version_row_item#priority
    = record.priority.name
  .version_row_item#user
    = record.user.profile.fullname
  .version_row_item#assigned_to
    = "#{record.user_incharge_id.nil? ? "-" : record.user_incharge.profile.fullname}"
  .version_row_item#last_modified_by
    = "#{record.user_last_modification_id.nil? ? "-" : record.user_last_modification.profile.fullname}"
  .version_row_item#body
    = truncate(record.body,:length =>20)
  .version_row_item#date_updated
    = record.updated_at_before_type_cast
