.version_row{:id => "color#{version.id%2}" }
  .version_row_item#id
    = version.id
  .version_row_item#version
    = version.version
  .version_row_item#category
    = (version.changes.nil? or version.changes["category_id"].nil?) ? "  " : Category.find(version.changes["category_id"][1]).name
  .version_row_item#status
    = (version.changes.nil? or version.changes["status_id"].nil?) ? "  " : Status.find(version.changes["status_id"][1]).name
  -# .version_row_item#priority
  -#   = Priority.find(version.priority_id).name
  -# .version_row_item#user
  -#   = User.find(version.user_id).login
  -# .version_row_item#assigned_to
  -#   = "#{version.status_id == 1 ? "sdsds " : User.find(version.user_incharge).login}"
  -# .version_row_item#last_modified_by
  -#   = "algo"
  -# .version_row_item#body
  -#   = version.body.slice(0, 20)
  -# .version_row_item#date_created
  -#   = version.created_at_before_type_cast
  -# .version_row_item#date_updated
  -#   = version.updated_at_before_type_cast
  -# .version_row_item#actions
  -#   .link_to_details
  -#     = link_to "Detalles", tech_support_version_path(version)
