#catalogs
  = link_to 'Solicitudes', tech_support_tickets_path
  = link_to 'Categorías', tech_support_categories_path
  = link_to 'Status', tech_support_statuses_path
  = link_to 'Prioridades', tech_support_priorities_path
  = link_to 'Usuarios', tech_support_users_path
