.ticket_row{:id => "color#{ticket.id%2}" }
  .ticket_row_item#category
    = ticket.category.name
  .ticket_row_item#status
    = image_tag("#{ticket.status.name.gsub(" ","_").downcase}.png")+ ticket.status.name
  .ticket_row_item#priority
    = ticket.priority.name
  .ticket_row_item#date
    = ticket.created_at

  .ticket_row_item#user
    = ticket.user.profile.email

  .ticket_row_item#assigned_to
    = "#{ticket.status_id == 1 ? "-" : ticket.user_incharge.profile.email}"
  .ticket_row_item#body
    = truncate(ticket.body, :length => 30)

  .ticket_row_item#actions
    .link_to_details
      = link_to "Detalles", tech_support_ticket_path(ticket)
    .link_to_edit
      = link_to "Modificar", edit_tech_support_ticket_path(ticket)
    .link_to_delete
      = link_to "Borrar", tech_support_ticket_path(ticket), :method => :delete, :confirm => '¿ Desea borrar esta solicitud ?'

