#tickets_index
  = render :partial => 'catalogs'
  = render :partial => 'tickets_filter'
  = render :partial => 'ticket_header' 
  = render :partial => 'tickets_collection'
#add_ticket
  = link_to 'Nueva Solicitud',  new_tech_support_ticket_path  