#ticket_form
  %h3 Solicitud de de Soporte
  - form_for @ticket, :url => tech_support_tickets_url do |f|
    %p
      = f.label "Reportar problemas con :"
      = f.select :category_id, Category.all(:order => 'name ASC').collect { |record|[record.name, record.id] }
    %p
      = f.label "Descripción:"
      = f.text_area :body, :size => "80x10"
    #button_new
      = submit_tag('Enviar Solicitud')
  #cancel    
    = button_to 'Cancelar', tech_support_tickets_path, :method => :get
