%h4= "Solicitud de soporte #{@ticket.id}"
#ticket_show
  #ticket_show_header
    .ticket_show_header_item{:id => 'information'}
      %h5= "Información general."
      %p
        = "De: #{@user_profile.fullname}"
        %br= "Fecha de envío: #{@ticket.created_at_before_type_cast}"
        %br= "Categoría: #{Category.find(@ticket.category_id).name}"
        %br= "Estado: #{Status.find(@ticket.status_id).name}"
        %br="Descripción"
        %br= @ticket.body 
    .ticket_show_header_item{:id => 'contact'}
      %h5= "Contacto."
      %p
        = "Email: #{@user_profile.email}"
        %br= "Teléfono: #{@user_profile.phone}"
  #actions
    = link_to_remote image_tag("reply.gif", :border => 0, :style => 'margin-right: 3px;')+"Responder", :url => new_comment_path(:ticket_id => @ticket.id), :update => {:success => "comment_form"}, :method => :get
  #comment_form 
#comment_collection
  = render :partial => 'comments/comment_father', :collection => @ticket.comments 
  
= button_to "Regresar", tech_support_tickets_url, :method => :get
