%p
  %b= "Filtrar solicitudes: "
  = collection_select :filter, :category_id, Category.all, :id, :name
%p 
  %b= "Listas: "
  = link_to 'Por fecha orden descendente', list_by_date_tickets_url(:order => 'DESC')
  = ' | ' 
  = link_to 'Por fecha orden ascendente', list_by_date_tickets_url(:order => 'ASC')
  = ' | ' 
  = link_to 'Mis solicitudes', tickets_url
  = ' | ' 
  = link_to 'Todas', tickets_url
