%p
  %b= "Filtrar solicitudes: "
  = collection_select :filter, :category_id, Category.all, :id, :name
%p 
  %b= "Listas: "
  = link_to 'Por fecha orden descendente', tickets_url
  = ' | ' 
  = link_to 'Por fecha orden ascendente', tickets_url
  = ' | ' 
  = link_to 'Mis solicitudes', tickets_url
  = ' | ' 
  = link_to 'Todas', tickets_url
