#tickets_filter

  %p
    = "Filtrar solicitudes por status:   "
    = collection_select :filter, :status_id, Status.all(:order => 'name ASC'), :id, :name, {:prompt => '-- Seleccionar --'}

  %p
    = "Filtrar solicitudes por categoría: "
    = collection_select :filter, :category_id, Category.all(:order => 'name ASC'), :id, :name, {:prompt => '-- Seleccionar --'}
  %p
    = link_to 'Solicitudes por fecha descendente', search_tickets_url(:search => {:order => "descend_by_created_at"})
    = ' | '
    = link_to 'Solicitudes por fecha ascendente', search_tickets_url(:search => {:order => "ascend_by_created_at"})
    = ' | '
    = link_to 'Mis solicitudes', my_list_tickets_url
    = ' | '
    = link_to 'Todas las solicitudes', tickets_url
