-# .icon_order
-#  = image_tag("icon_order.jpg")
.ticket
  .ticket_panel
    .ticket_header
      .ticket_category
        = Category.find(ticket.category_id).name
      .ticket_status
        = Status.find(ticket.status_id).name
      .ticket_date
        = ticket.created_at_before_type_cast
    .ticket_body
      = ticket.body.slice(0, 20)
  .ticket_actions
    = link_to("Detalles", ticket_path(ticket) , :class => "link_details")
    = link_to "Cancelar", ticket_path(ticket), {:method => :delete, :confirm => "Estas seguro?"}, {:class => "link_cancel"}
