%ul.ticket_row{:id => "color#{ticket.id%2}" }
  %li.ticket_row_item#category
    = "#{Category.find(ticket.category_id).id}.- #{Category.find(ticket.category_id).name}"
  %li.ticket_row_item#status
    = Status.find(ticket.status_id).name
  %li.ticket_row_item#date
    = ticket.created_at_before_type_cast
  %li.ticket_row_item#user
    = User.find(ticket.user_id).login
  %li.ticket_row_item#assigned_to
    = "not implemented"
  %li.ticket_row_item#body
    = ticket.body.slice(0, 20)
  %li.ticket_row_item#actions
    = link_to("Detalles", ticket_path(ticket) , :class => "link_details")
