<div id="login">
  login: <%=User.find(session[:user_id]).login %>
  <br>
    <br>
  <%= link_to 'Salir', session_path(:id =>session[:user_id]), :method => :delete %>
</div>
<div id="index_title">
  <h2>Inicidencias reportadas por el personal del IFUNAM</h2>
</div>

<div id="tickets">
  
  <%= render :partial => 'ticket_header' %> 
  
  <% if User.find(session[:user_id]).tickets.size == 0 %>
  <div id="no_tickets">
    Por el momento no tienes solicitudes de soporte
  </div>
  <% end %>
  <%= render :partial => 'ticket', :collection => @tickets %>
  
  
  
  
</div>

<div id="add_ticket">
  <%= link_to 'Nueva Solicitud', ticket_path %>#:action => 'new' %>
</div>



</div>





    

