

<div id="login">
login: <%=User.find(session[:id]).login %>
<br>
<br>
<%= link_to 'Salir', session_path(:id =>session[:id]), :method => :delete w%>
</div>
<div id="index_title">
  <h2>Inicidencias reportadas por el personal del IFUNAM</h2>
</div>

<div id="tickets">
  
  <%= render :partial => 'ticket_header' %> 

  <% if User.find(session[:id]).tickets.size == 0 %>
  <div id="no_tickets">
    Por el momento no tienes solicitudes de soporte
  </div>
  <% end %>
  <%= render :partial => 'ticket', :collection => @tickets %>
  
  


</div>


<% if session[:type] == 1 %> 
  
  <div id="add_ticket">
    <%= link_to 'Nueva Solicitud', :action => 'new' %>
  </div>
<% end %> <%= link_to("Detalles", {:action => 'show_ticket', :id => ticket.id},{:id => "link_details"}) %> 
    
    <%= link_to(@permission.name, {:action => @permission.action , :id => ticket.id,:method => @permission.method , :confirm => @permission.message} ,{:id => @permission.id_tag}) %>
  </div>





    

