#login
  = "login: #{User.find(session[:user_id]).login}"
  %br
  %br
  = link_to 'Salir', session_path(:id =>session[:user_id]), :method => :delete
#index_title
  %h2 "Inicidencias reportadas por el personal del IFUNAM"
- if User.find(session[:user_id]).tickets.size > 0
  #tickets_header
    = render :partial => 'ticket_header'
  #tickets
    = render :partial => 'ticket', :collection => @tickets
- else
  #no_tickets
    = "Por el momento no tienes solicitudes de soporte"  

#add_ticket
  = link_to 'Nueva Solicitud', new_ticket_path
