%h3 Solicitud de de Soporte
%h4 Secretaría técnica de cómputo
%br
#ticket_form
- form_for @ticket, :url => tickets_url do |f|
  %p
    = f.label "Categoría:"
    = f.select :category_id, Category.all(:order => 'name ASC').collect { |record|[record.name, record.id] }
  %p
    = f.label "Descripción:"
    = f.text_area :body
  #button_new
    = submit_tag "Enviar Solicitud"
    = link_to "Regresar", tickets_url
