<h3>Nueva Solicitude de Soporte </h3>

<div id="new_ticket">
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <div class="error">
    <%= error_messages_for 'ticket' %>
  </div>
  <% form_for :ticket, @ticket, :url => { :action => 'create' } do |f| %>
     <%= content_tag(:span,content_tag(:strong,"Categoria :", :class => "note"), :class => "tk_note") %>
     <br>                                                     
     <span class="tk_category">
       <%= f.select(:category_id, Category.all(:order => 'name ASC').collect { |record| [record.name, record.id] })%>
     </span>

     <br>
     <%= content_tag(:span,content_tag(:strong,"Descripcion :", :class => "note"), :class => "tk_note") %>
     <br>
     <%= f.text_area :body %>
     <br>
     <div class="button">
       <%= submit_tag "Enviar" %>
     </div>
  <% end %>
</div>

<div class="link">
  <%= link_to "Regresar", :action => 'index' %>
</div>
