<div id="new_ticket">
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <%= error_messages_for :ticket %>
  <% form_for :ticket, @ticket, :url => { :action => "create" } do |f| %>
     <%= content_tag(:span,content_tag(:strong,"Categoria :", :class => "note"), :class => "tk_note") %>
     <%= content_tag(:br,"") %>
     <span class="tk_category">
       <%= f.select(:category_id, Category.all(:order => 'name ASC').collect { |record| [record.name, record.id] })%>
     </span>

     <br>
     <%= content_tag(:span,content_tag(:strong,"Descripcion :", :class => "note"), :class => "tk_note") %>
     <br>
     <%= f.text_area :body %>
     <br>
     <%= submit_tag "Enviar" %>
  <% end %>
  <%= button_to "Cancelar", :action => "index", :confirm => "Estas seguro?" %>

</div>



