<div id="ticket_view">
  Solicitud de soporte   # <%= @ticket.id %>
<br>
Secretaria tecnica de computo
<br>
  <div id="ticket_information">
    <div id="ticket_panel">
      <div id="ticket_header">     
        <%= @ticket.created_at_before_type_cast %>
        <br>
        Categoria: <%= Category.find(@ticket.category_id).name %>
        <br>
        Estado: <%= Status.find(@ticket.status_id).name %>
        <br>
        Mensajes <%= @ticket.comments.count %>  
        <br>
        <br>
      </div>
      <div id="ticket_body_show">
        <div class="text">        
          <%= @ticket.body %>  
        </div>
      </div>
      
    </div>
  </div>
  
  
  <div id="comment_title">
    <h4> Comentarios  </h4>
  </div>
  
  
  <div id="comments">
    <%= render :partial => 'comments/comment', :collection => @comments %>
  </div>
  


  <div class="space">
  </div>

  
  <div id="comment_form">
    <div id="panel">      
      <%= error_messages_for :comment %>
      <% form_for :comment, @comment, :url => {:controller => 'comments' ,:action => 'create' , :id => @ticket.id, :parent => nil} do |comment_form| %>
      <%= comment_form.text_area :body %>
      <div id="send_comment">
        <%= submit_tag "Agregar comentario" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="link">
  <%= link_to "Regresar", tickets_url %>
</div>



