<div id="ticket_view">
  Solicitud de soporte   # <%= @ticket.id %>
<br>
Secretaria tecnica de computo
<br>
  <div id="ticket_information">
    <div id="ticket_panel">
      <div id="ticket_header">     
        <%= @ticket.created_at_before_type_cast %>
        <br>
        Categoria: <%= Category.find(@ticket.category_id).name %>
        <br>
        Estado: <%= Status.find(@ticket.status_id).name %>
        <br>
        Mensajes <%= @ticket.comments.count %>  
        <br>
        <br>
      </div>
      <div id="ticket_body_show">
        <div class="text">        
          <%= @ticket.body %>  
        </div>
      </div>
      
    </div>
  </div>
    
  
  
  <div id="comment_form">
    <div id="panel">      
	    <div id ="comment_errors">
	    </div>
      <% remote_form_for :comment, @comment, :url => comments_url do |comment_form| %>
      <%= comment_form.text_field :subject, :value => 'Re: ' + @ticket.category.name %>

      <%= comment_form.text_area :body %>
	  <%= comment_form.hidden_field :ticket_id, :value => @ticket.id %>
      <div id="send_comment">
        <%= submit_tag "Enviar comentario" %>
      </div>
      <% end %>
    </div>
  </div>

   <div id="comments">
	<%= render :partial => 'comments/comment', :collection => @ticket.comments %>
   </div>
</div>


<div class="link">
  <%= link_to "Regresar", tickets_url %>
</div>



