#user_profile

  %p= content_tag(:b, 'Nombre de usuario: ') + @user_profile.fullname
  %p= content_tag(:b, 'Adscripción: ') + @user_profile.adscription
  %p= content_tag(:b, 'Jefe inmediato: ') + @user_profile.user_incharge.fullname

#admin
  #buttons
    #tickets_button
      = button_to_function 'Tickets',remote_function( :url => admins_path(:type => :tickets), :method => :get) 
    #catalogs_button 
      = button_to_function 'Catalogos', remote_function(:url => admins_path(:type => :catalogs), :method => :get)
    #users_button   
      = button_to_function 'Usuarios', remote_function(:url => admins_path(:type => :users), :method => :get )
#index