#login
  = "login: #{User.find(session[:user_id]).login}"
  = link_to 'Administrar', admin_path
  %br
  %br
  = link_to 'Salir', session_path(:id =>session[:user_id]), :method => :delete
#index_title
  %h2 "Inicidencias reportadas por el personal del IFUNAM"
#tickets
  = render :partial => 'ticket', :collection => @tickets
