!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang=>"en"}
  %head
    %title 
      = "Stifunam #{controller.controller_name.capitalize}"
    = stylesheet_link_tag "application.css"
    = javascript_include_tag  :defaults
    = javascript_include_tag 'jquery-1.3.2', 'application'
  %body
    #layout_header
      #layout_header
        #header
          #logo
            = "STIFUNAM"
    #login
      = "login: #{User.find(session[:user_id]).login}"
      = link_to 'Salir', session_path, :method => :delete    
    #main
    = yield :layout
