!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang=>"en"}
  %head
    %title 
      = "Stifunam #{controller.controller_name.capitalize}"
    = stylesheet_link_tag "tickets"
    = javascript_include_tag  :defaults
    = javascript_include_tag 'jquery-1.3.2', 'application'
    %body
      #layout_header
        = "STIFUNAM"
        
      #main
        #user_profile
          %p= "Perfil"
          %p= "Usuario: #{@user_profile.fullname}"
          %p= "Adscripción: #{@user_profile.adscription}"
          %p= "Número telefonico: #{@user_profile.phone}"
          %p= "Email: #{@user_profile.email}"
          %p= link_to 'Salir', session_path, :method => :delete 
          
        = yield :layout